<!DOCTYPE html>
<html>
<head>
  <title>HoundCloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER_ID = <%= current_user.id %>;
      window.CURRENT_USER_USERNAME = "<%= current_user.username %>";
      window.CURRENT_USER_IMAGE_URL = "<%= current_user.image_url %>";
    </script>
  <% end %>
</head>
<body>

<% if !current_user %>
  Please <%= link_to "log in", new_session_url%> or <%= link_to "sign up", new_user_url %>
<% end %>

<% if flash %>
  <% flash.each do |key, msg|%>
    <%= msg %>
  <% end %>
<% end %>
<%= yield %>

</body>
</html>
